<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>274056514512-j1dbcepe7224idda5drnriit5sotnt7i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.274056514512-j1dbcepe7224idda5drnriit5sotnt7i</string>
	<key>API_KEY</key>
	<string>AIzaSyDnM4NI6OZlVOudIppYgiAGm_Gy0Z4vCQE</string>
	<key>GCM_SENDER_ID</key>
	<string>274056514512</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.az.Gifts</string>
	<key>PROJECT_ID</key>
	<string>firestudy-67bcc</string>
	<key>STORAGE_BUCKET</key>
	<string>firestudy-67bcc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:274056514512:ios:733adb8cbbbc977cb4c7d5</string>
</dict>
</plist>