<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google Sign In</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.274056514512-j1dbcepe7224idda5drnriit5sotnt7i</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>274056514512-j1dbcepe7224idda5drnriit5sotnt7i.apps.googleusercontent.com</string>
	<key>UIAppFonts</key>
	<array>
		<string>SF Pro Display.otf</string>
		<string>SF-Pro-Display-Black.otf</string>
		<string>SF-Pro-Display-Bold.otf</string>
		<string>SF-Pro-Display-Heavy.otf</string>
		<string>SF-Pro-Display-Light.otf</string>
		<string>SF-Pro-Display-Medium.otf</string>
		<string>SF-Pro-Display-Regular.otf</string>
		<string>SF-Pro-Display-Semibold.otf</string>
		<string>SF-Pro-Display-Thin.otf</string>
		<string>SF-Pro-Display-Ultralight.otf</string>
	</array>
</dict>
</plist>
